{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    首页|登录
{% endblock %}  <!--网站的title-->

{% block header %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}  <!--导入css文件-->

{% block nav_home_active %}active{% endblock %}           <!--设置选中样式-->

{% block content %}
    <div class="containter">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">登录</h3>
                  </div>
                  <div class="panel-body">
                      <form action="" method="post">
                          {% csrf_token %}
                            {#  不理解 #}
                          {% for field in login_form %}
                              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                              {{ field }}
                              <p class="text-danger">
                                {{ field.errors.as_text }}
                              </p>
                          {% endfor %}
                          <span class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
                          <input type="submit" class="btn btn-primary pull-right">登录</input>
                       </form>
                  </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}              <!--具体显示内容-->